.root {
  display: flex;
  flex-direction: column;
  @nest & ul {
    margin: 2em auto;
    display: inline-block;
    justify-self: center;
    @nest & li {
      font-size: var(--font-large-size);
      font-weight: 100;
      line-height: 1.25em;
      margin-bottom: 1em;
    }
  }
}

.h1Style {
  font-size: var(--font-title3-size);
  color: var(--color-accent-light);
}

.h2Style {
  font-weight: 100;
  font-size: var(--font-title3-size);
  color: var(--color-accent-light);
  text-align: center;
}

.specsList {
}
