.sectionBackground {
  position: relative;
  padding: 1.5em 4em 4em 1em;
  background: linear-gradient(to bottom right, rgba(20,20,20,.95) 20%, rgba(20,20,20,.5));
  min-height: 50vh;
}

.alignButton{
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
}