.sectionBackground {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5em 1em;
  margin-top: 2em;
  min-height: 50vh;
  z-index: 5 !important;
}

.contactText {
  position: relative;
  margin: 0 1em;
  color: var(--color-accent-light);
  flex-grow: 0;
  white-space: nowrap;
}

.contactWrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.mapWrapper {
  margin: 0 1em;
  position: relative;
  flex: 100%;
  flex-grow: 1;
}

.marker {
  color: var(--color-main-dark);
}

.coverImage {
  opacity: 0.5;
  filter: brightness(0.5);
}
