.spacer {
  margin-top: 2em;
}

.sectionBackground {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5em 1em;
  min-height: 50vh;
  z-index: 5 !important;
     transition: var(--transition-short);
      @media (hover: hover) {
  @nest &:hover {
        --webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  }}
}

.contactText {
  opacity: 0.85;
  position: relative;
  margin: 0 1em;
  color: var(--color-accent-light);
  flex-grow: 0;
  white-space: nowrap;
}

.contactWrapper {
  position: relative;
  display: flex;
  height: 100%;
  flex-grow: 1;
}

.mapWrapper {
  margin: 0 1em;
  position: relative;
  flex: 100%;
  flex-grow: 1;
}

.coverImage {
  opacity: 0.5;
  filter: brightness(0.5);
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 100;
  margin-bottom: 1em;
}

.socialLink {
  margin: 0 0 0 0.75em;
}

@keyframes zoomLogo {
  0% {
    transform: scale(1);
  }
  10% {
    transform: rotate(-5deg);
  }
  50% {
    transform: scale(1.1) rotate(5deg) translateY(-5%);
  }
  100% {
    transform: scale(1.025);
  }
}

.socialLogo {
  height: 2em;
  transition: var(--transition-short);
  @media (hover: hover) {
    @nest &:hover {
      transform: scale(1.1);
      animation: zoomLogo 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) both;
    }
  }
}
