.aboutSection {
  position: relative;
  background: transparent !important;
  box-shadow: none !important;
}

.equipmentSection {
  position: relative;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 0 4em 0;
}

.alignButton {
}

.coverImage {
  opacity: 0.25;
  filter: brightness(0.2);
}
