.aboutSection{
    position: relative;
  background: transparent !important;
  box-shadow: none !important;
}

.equipmentSection{
  position: relative;
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 0 4em 0;
}

.alignButton{

}