.blockText {
  padding: 0 0 1em 0;
}

.coverImage {
  opacity: 0.25;
  filter: brightness(0.5);
}

.requestInfoLink {
  font-size: 1.5em;
}

.requestInfoWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25em;
}
