.titleText {
  font-size: calc(var(--font-title1-size) * 1.25);
  font-family: var(--font-brand);
  color: var(--color-accent-light);
  font-weight: 100;
  margin: 0.5em 0 1em 0;
  text-align: center;
  opacity: 0.9;
  text-shadow: var(--text-shadow-heavy-close);
}

.blockText {
  position: relative;
  padding: 0 2em 2em 2em;
  opacity: 0.95;
}

.coverImage {
  opacity: 0.25;
  filter: brightness(0.5);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 4px 10px var(--color-accent-light);
}

.backLink {
  text-decoration: none;
  color: var(--color-main-light);
  opacity: 0.5;
  @media (hover: hover) {
    @nest &:hover {
      opacity: 0.95;
    }
  }
}

.headerImageWrap {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.75) 50%, transparent 100%);
}

.headerImage {
  margin-top: calc(var(--burger-size) * 3);
  z-index: 2;
  opacity: 1;
  position: absolute;
  background: linear-gradient(to bottom, var(--color-main-dark), #0009);
  top: 0;
  box-shadow: var(--box-shadow-2);
  left: 50%;
  transform: translateX(-50%);
}

.currentImage {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: overlay hidden;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-overflow-scrolling: touch;
  height: calc(50vh + 40px + 0.5em);
  @media screen and (orientation: portrait) {
    height: calc(25vh + 40px + 0.5em);
  }
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  -webkit-backdrop-filter: blur(4px) brightness(0.5);
  backdrop-filter: blur(4px) brightness(0.5);
}

.slider {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  padding: 0.5em 0;
  height: 10vh;
  scroll-snap-type: x mandatory;
  @media screen and (orientation: portrait) {
    height: 15vh;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.tile {
  cursor: pointer;
  scroll-snap-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 0.125em;
}

.activeTile {
  cursor: pointer;
  scroll-snap-align: center;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 0.125em;
}

.activeTile::after {
  position: absolute;
  top: 0;
  left: 0;
  justify-self: center;
  align-self: center;
  content: '';
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid var(--color-accent-light);
  opacity: 0.85;
}

.mainWrapper {
  position: relative;
  margin-top: calc(40px + 0.5em);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(8px) brightness(0.6);
  backdrop-filter: blur(8px) brightness(0.6);
  transition: var(--transition-short);
}

.mainWrapper:hover {
  -webkit-backdrop-filter: blur(16px) brightness(0.5);
  backdrop-filter: blur(16px) brightness(0.5);
}

.prevButton {
  cursor: pointer;
  position: absolute;
  left: 0;
  padding: 0.5em;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: flex-start;
  border: none;
  font-size: 4em;
  color: var(--color-main-light);

  z-index: 2;
  opacity: 0.7;
  align-items: center;
  min-width: 10%;
  @media screen and (orientation: portrait) {
    font-size: 2em;
    min-width: 20%;
  }
}

.nextButton {
  cursor: pointer;
  z-index: 2;
  align-items: center;
  position: absolute;
  right: 0;
  padding: 0.5em;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background: transparent;
  border: none;
  font-size: 4em;
  color: var(--color-main-light);
  opacity: 0.7;

  min-width: 10%;
  @media screen and (orientation: portrait) {
    font-size: 2em;
    min-width: 20%;
  }
}

.prevButton:focus,
.nextButton:focus {
  outline: none;
}

.galleryWrapper {
  box-shadow: var(--box-shadow-2);
  background: radial-gradient(circle at center, #00000077, transparent);
  transition: var(--transition-short);
  margin: 0 auto;
  @media (hover: hover) {
    @nest &:hover {
      background: radial-gradient(circle at center, #000000bb, transparent);
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 4px 10px var(--color-accent-light);
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
