.titleText {
  font-size: calc(var(--font-title1-size) * 1.5);
  font-family: var(--font-brand);
  color: var(--color-accent-light);
  font-weight: 100;
  margin: 0.5em 0 1em 0;
  text-align: center;
  text-shadow: var(--text-shadow-heavy-close);
}

.blockText {
  position: relative;
  padding: 0 2em 2em 2em;
}

.coverImage {
  opacity: 0.25;
  filter: brightness(0.5);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 4px 10px var(--color-accent-light);
}

.backLink {
  text-decoration: none;
  color: var(--color-main-light);
  opacity: 0.5;
  @media (hover: hover) {
    @nest &:hover {
      opacity: 0.95;
    }
  }
}

.headerImageWrap {
  position: absolute;
  z-index: 2;
  opacity: 1;
  top: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.75) 50%, transparent 100%);
}

.headerImage {
  margin-top: calc(var(--burger-size) * 3);
  z-index: 2;
  opacity: 1;
  position: absolute;
  background: linear-gradient(to bottom, var(--color-main-dark), #0009);
  top: 0;
  box-shadow: var(--box-shadow-2);
  left: 50%;
  transform: translateX(-50%);
}

.currentImage {
  position: relative;
  margin: calc(40px + 0.5em) 0.5em 0.5em 0.5em;
  display: flex;
  justify-content: center;
  overflow: overlay hidden;
  -webkit-overflow-scrolling: touch;
  height: 50vh;
  @media screen and (orientation: portrait) {
    height: 25vh;
  }
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
}

.slider {
  position: relative;
  display: inline-flex;
  max-width: 100%;
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  padding: 0.5em 0;
  height: 10vh;
  scroll-snap-type: x mandatory;
  @media screen and (orientation: portrait) {
    height: 5vh;
  }
}

.slider::-webkit-scrollbar {
  display: none;
}

.slideButton {
  width: 1fr;
}

.tile {
  scroll-snap-align: start;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 0.125em;
  border: 4px solid transparent;
}

.activeTile {
  scroll-snap-align: start;
  height: 100%;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
  margin: 0 0.125em;
  border: 4px solid orange;
}

.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
