.titleText {
  font-size: var(--font-title1-size);
  font-family: var(--font-brand);
  color: var(--color-accent-light);
  font-weight: 100;
}

.blockText {
  position: relative;
  padding: 0 2em 2em 2em;
}

.coverImage {
  opacity: 0.25;
  filter: brightness(0.5);
}

.backLink {
  text-decoration: none;
  color: var(--color-main-light);
  opacity: 0.5;
  @nest &:hover {
    opacity: 0.95;
  }
}
