.branding {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
  background: transparent !important;
}

.logo {
  font-size: 2em;
  color: var(--color-brand) !important;
  font-family: var(--font-brand);
  font-weight: 500 !important;
}

.svgStyle {
  height: 48px;
  width: auto;
}

.svgStyle > g > path {
  fill: white !important;
}
