.root {
  color: var(--color-main-light);
  text-decoration: none;
  padding: 0.5em 1.5em;
  border: 2px solid var(--color-main-light);
  transition: var(--transition-short);
  /* text-shadow: var(--text-shadow-light-close); */

  @nest &:hover {
    color: var(--color-accent-light);
    border: 2px solid var(--color-accent-light);
  }
}
