

.absolute {
  pointer-events: none;
  position: absolute !important;
  z-index: -1 !important;
  top: 0;
  left: 0;
}

.fixed {
  pointer-events: none;
  position: fixed !important;
  z-index: -1 !important;
  top: 0;
  left: 0;
}