.absolute {
  pointer-events: none;
  position: absolute !important;
  z-index: -1 !important;
  top: 0;
  left: 0;
  filter: saturate(0.2);
}

.fixed {
  pointer-events: none;
  position: fixed !important;
  z-index: -1 !important;
  top: 0;
  left: 0;
  filter: saturate(0.6) contrast(0.8) blur(2px);
}
