.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.scroll {
  z-index: 0;
  position: relative;

  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  /* overflow: overlay; */
  overflow: auto;

  -webkit-overflow-scrolling: touch;
}
@supports not (-ms-ime-align: auto) {
  .scroll {
    overflow: overlay !important;
  }

  @media screen and (orientation: landscape) {
    .scroll::-webkit-scrollbar {
      position: relative;
      z-index: 10000 !important;
      background: var(--color-main-dark);
      width: 6px;
    }
    .scroll::-webkit-scrollbar-thumb {
      position: relative;
      z-index: 10000 !important;
      background: var(--color-accent-dark);
      border-radius: 15px;
      height: 30px;
      transition: var(--transition-short);
      @media (hover: hover) {
        @nest &:hover {
          background: var(--color-brand);
        }
      }
    }

    .scroll::-webkit-scrollbar-track-piece {
      display: none;
    }
  }
}

/* .scroll::-webkit-scrollbar {
  width: 0.7em;
  background: white;
  }
  .scroll::-webkit-scrollbar-button {

  }
  .scroll::-webkit-scrollbar-track {

}
  .scroll::-webkit-scrollbar-track-piece {

  }
  .scroll::-webkit-scrollbar-thumb {background: blue;}
  .scroll::-webkit-scrollbar-corner {background: blue;}
  .scroll::-webkit-resizer {background: blue;} */
