.logoWrap {
  transition: var(--transition-long);
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: var(--burger-size);
  height: calc(var(--burger-size) * 1.25);
  max-width: 15vw;
  margin: 0 auto;

     @media (min-width: 675px) {
     justify-content: flex-start;
     padding-left: var(--burger-size);
     margin: 0 auto 0 0 ;
    }
}

.logoFixed {
  transition: var(--transition-long);
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: var(--burger-size);
  height: 100%;
  max-width: 75vw;
  margin: 0 auto;
}

.svgWrapper svg,
path {
  transform-origin: top;
  position: relative;
  z-index: 500;
  height: calc(var(--burger-size) * 1.25);
  width: auto;
  fill: var(--color-main-light);
}

.svgWrapperFixed svg,
path {
  position: relative;
  z-index: 500;
  height: calc(var(--burger-size) * 1.25);
  width: auto;
  fill: var(--color-main-light);
}
