@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
}

.link{
  z-index: 700;
  text-decoration: none;
  color: var(--color-main-light);
  padding-left: 1em;
  font-size: var(--burger-size);
  transition: var(--transition-short);
  @media (hover:hover) {
    @nest &:hover{
      color: var(--color-accent-light);
    }
  }
    @media (max-width: 675px) {
    opacity: 0 !important;
    display: none !important;
  }
}

.wrapper {
  z-index: 100;
  /* position: -webkit-sticky; */
  top: 0;
  position: fixed;
  box-sizing: border-box;
  height: calc(var(--burger-size) / 6 * 5 + var(--burger-size) * 2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
width: 100%;
  @media (--media-min-small) {
    padding: 1.5em 1.5em;
  }

  /* @media screen and (orientation: landscape) {
    justify-content: flex-start;
    left: 0;
  } */
}

.wrapper::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-main-dark);
  opacity: 0;
  transition: var(--transition-short);
}

.wrapper:hover::after {
  opacity: 0.25;
}

.branding {
  font-family: var(--font-brand);
  font-weight: 500;
  z-index: 105;
  opacity: 1;
  color: var(--color-main-light);
  font-size: 2.5em;
  margin: 0;
  @media screen and (orientation: portrait) {
    padding: var(--burger-size);
  }

  @nest & a {
    display: inline-block;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent-light);
      }
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 200;
  top: calc(var(--burger-size)*0.125*2);
  height: calc(var(--burger-size)*1.25*2);

}

.svgWrapper svg,
path {
  height: calc(var(--burger-size)*1.25*2);
  width: auto;
  fill: var(--color-main-light);
}

.logoText {
  position: relative;
  z-index: 250;
}
