.logo {
  transition: var(--transition-long);
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: var(--burger-size);
  height: calc(var(--burger-size) * 1.25);
  max-width: 75vw;
  margin: 0 auto 4em auto;
}

.logoFixed {
  transition: var(--transition-long);
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 500;
  top: var(--burger-size);
  height: 100%;
  max-width: 75vw;
  margin: 0 auto;
}

.svgWrapper svg,
path {
  transform-origin: top;
  transition: var(--transition-long);
  position: relative;
  z-index: 500;
  height: calc(var(--burger-size) * 1.25);
  width: auto;
  fill: var(--color-main-light);
}

.svgWrapperFixed svg,
path {
  transition: var(--transition-long);
  position: relative;
  z-index: 500;
  height: calc(var(--burger-size) * 1.25);
  width: auto;
  fill: var(--color-main-light);
}
