@media (hover: hover) {
  .heroWrap {
    z-index: 600;
    position: relative;
    transform: translateY(-32px);
    height: calc(100vw / 16 * 9);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition-short);
  }

  .heroWrapHide {
    transition: var(--transition-short);
    z-index: 600;
    position: relative;
    transform: translateY(0px);
    height: 0vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .video {
    transition: var(--transition-long);
    z-index: 600;
    position: absolute;
    height: 100%;
    opacity: 0;
  }

  .videoStart {
    opacity: 1;
    z-index: 600;
    position: absolute;
    height: 100%;
    transition: var(--transition-long);
  }

  .videoHide {
    transition: var(--transition-short);
    opacity: 0;
    z-index: 600;
    position: absolute;
  }

  .overlay {
    position: absolute;
    z-index: 700;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .overlayHide {
    transition: var(--transition-short);
    opacity: 0;
    position: absolute;
    z-index: 700;
    width: 100vw;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iFrame {
    pointer-events: none;
    opacity: 1;
    height: 100%;
  }

  .iFrameHide {
    pointer-events: none;
    opacity: 0;
  }
}
