.heroWrap {
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  height: calc(100vw / 16 * 9);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-short);
}

.heroWrapHide {
  transition: var(--transition-short);
  z-index: 600;
  position: fixed;
  transform: translateY(0px);
  height: 0vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  transition: var(--transition-long);
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
}

.videoStart {
  opacity: 1;
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transition: var(--transition-long);
}

.videoHide {
  transition: var(--transition-short);
  opacity: 0;
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.overlayHide {
  transition: var(--transition-short);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 700;
  width: 100vw;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iFrame {
  pointer-events: none;
  opacity: 1;
  height: 100%;
}

.iFrameHide {
  pointer-events: none;
  opacity: 0;
}

.largeLogo {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 3s;
  font-size: 10em;
  font-family: var(--font-brand);
  background: var(--color-brand);
  z-index: 600;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.largeLogoHide {
  transition: transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 3s;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 600;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrap {
  transition: var(--transition-long);
  position: fixed;
  z-index: 500;
  height: auto;
  width: 50vw;
  margin: 0;
}

.svgWrapper svg,
path {
  transform-origin: top;
  position: fixed;
  top: 0;
  z-index: 500;
  height: 80%;
  width: 50vw;
  fill: var(--color-main-light);
}

@media not (hover: hover) {
  .heroWrap,
  .heroWrapHide,
  .video,
  .videoHide,
  .videoStart,
  .overlay,
  .overlayHide,
  .iFrame,
  .iFrameHide,
  .largeLogo,
  .largeLogoHide,
  .logoWrap {
    opacity: 0 !important;
  }
}
